@{
    ViewData["Title"] = "Home - Route List";
    Layout = "_Layout";
}

<h2>Admin</h2>
<ul>
    @if (User.IsInRole(RoleNames.Admin))
    {
        <li>
            <a href="/stats/fetch-history">/stats/fetch-history</a><br />
            <em class="text-small">Fetch history records</em>
        </li>
        <li>
            <a href="/stats/send-update-history">/stats/send-update-history</a><br />
            <em class="text-small">Send update history records</em>
        </li>
        <li>
            <a href="/stats/all-queries">/stats/all-queries</a><br />
            <em class="text-small">View all users' queries</em>
        </li>
        <li>
            <a href="/users">/users</a><br />
            <em class="text-small">Manage users</em>
        </li>
        <li>
            <a href="/users/create">/users/create</a><br />
            <em class="text-small">Create new user</em>
        </li>
    }

    <li>
        <a href="/queries">/queries</a><br />
        <em class="text-small">Manage your SQL queries</em>
    </li>
</ul>

<h2>My Queries</h2>

<ul>

    @if (ViewBag.Queries != null && ((List<Ravuno.WebAPI.Models.UpdateConfiguration>)ViewBag.Queries).Count > 0)
    {
        @foreach (var query in (List<Ravuno.WebAPI.Models.UpdateConfiguration>)ViewBag.Queries)
        {
            <li>
                <strong>@query.QueryTitle</strong><br />
                Show content: <a href="/stats/view-query/@query.Id">/stats/view-query/@query.Id</a><br />
                Calendar feed: <a href="/calendar/public/@query.PublicId">/calendar/public/@query.PublicId</a>
            </li>
        }
    }
</ul>
